@import "reset";
@import "variables";
@import "mixins";
@import "common";

@import "../pages/Home/_Home.scss";
@import "../components/Header/_Header.scss";
@import "../components/Footer/_Footer.scss";
